#button-hide-show-tabs {
  float: left;
}

#button-hide-show-tabs:hover {
  background-color: #83a3c3;
}

#change-node-form {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  text-align: center;
  background-color: #d3d3d3;
}

#edit-subnet-colors-table {
  width: 98%;
}

#export-textarea {
  display: inline-block;
}

#graph {
  height: 80vh;
}

#import-form {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

#nodes {
  float: right;
}

#popup {
  width: 10vw;
  height: 10vh;
  border: solid 1px black;
}

#subnets {
  float: left;
}

.add-form {
  text-align: center;
  border: 2px solid black;
  width: 40%;
  margin: 10px 5%;
}

.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

.centered {
  margin: 10px auto;
}

.color-box {
  width: 100px;
  background-color: orange;
}

.color-table-row {
  margin: 2px 0;
  padding: 2px 0;
  border-top: 1px solid black;
}

.description {
  border: 2px solid red;
  padding: 10px;
  margin: 10px auto;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  width: 100%;
  padding: 0;
  display: none;
  background-color: #f9f9f9;
  list-style-type: none;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.dropdown-content li {
  padding: 10px;
  width: 100%;
  border-top: 1px solid gray;
}

.dropdown-content li:first-child {
  border: none;
}

.dropdown-content li:hover {
  background-color: gray;
}

.form-control {
  width: 50%;
  margin: 10px auto;
}

.inline {
  display: inline-block;
  max-width: 200px;
}

.main-body {
  width: 40%;
  margin: 10px 5%;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

.member-data {
  height: 24px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.member-data:hover {
  background-color: #90EE90;
}

.member-selected {
  background-color: green;
}

.member-table {
  padding: 3px;
  margin: 10px;
  border-collapse: collapse;
}

.sub-checkbox {
  margin: 5px;
}

.subnet-member {
  margin: 2px;
  padding: 2px;
  background-color: #bcd6ff;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

.span2 {
  display: inline-block;
}

.vis-network {
  border: 2px solid rgba(96, 16, 34, .5);
}

thead {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
